<a href="https://colab.research.google.com/github/adityapatil4141/75-HARD-coding/blob/main/75_HARD_coding_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("This is 75 HARD CODING CHALLENGE.")

This is 75 HARD CODING CHALLENGE.

In [ ]:
print('Here in this Colab NoteBook I will be practising various codes which will include:\n 1.Python Codes,\n 2.Data analysis codes,\n 3.Data analysis techinques,\n 4.Machine learning models\n etc... ')

Here in this Colab NoteBook I will be practising various codes which will include:
 1.Python Codes,
 2.Data analysis codes,
 3.Data analysis techinques,
 4.Machine learning models
 etc...

In [ ]:
print(''' Practising codes will be a great exercise as it will grow my logical thinking
and will improve handson experience typing codes''' )

 Practising codes will be a great exercise as it will grow my logical thinking
and will improve handson experience typing codes

#Questions On String :

In [ ]:
# Hello world:
print('hello world')

hello world

In [ ]:
# Write a Python program to reverse a string.

def reverse_string(input_string):
    return input_string[::-1]

In [ ]:
reverse_string('hello')

'olleh'

In [ ]:
# Write a Python program to check if a string is a palindrome.
def palindrome_checker(word):
  word_reverse = word[::-1]
  if word_reverse == word:
    print("palindrome")
  else:
    print("not a palindrome")

In [ ]:
palindrome_checker('nitin')

palindrome

In [ ]:
# Write a Python program to count the number of vowels in a string.
def vowels_count(word):
  vowles= ['a','e','i','o','u']
  count = []
  for i in word.lower():
    if i in vowles:
      count.append(i)


  return len(count)

In [ ]:
vowels_count('Aditya')

3

#  Integers, Floats & Booleans

Problem 1:

In a cricket tournament, based on the outcome of a particular match a team gets following points:

-wins gets 3 points

-draws gets 1 points

-losses gets 0 points

Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team Aravali?

In [ ]:
wins = 3
draws = 1
looses = 0

points_gained = 4*wins + 3*looses + 1*draws
print(f"Points gained by team aravali = {points_gained}")

Points gained by team aravali = 13

Problem 2:

Root of a function  ùëì(ùë•)  is defined as the value  ùë•  where  ùëì(ùë•)=0

Consider a quadratic function  ùëì(ùë•)=ùë•2+3ùë•‚àí4

**Find the value of the function  ùëì(ùë•)  at points  ùë•=2,ùë•=‚àí1,ùë•=1 .**

In [ ]:
x= 2
fx_at_2 = x**2 + 3*x - 4
print(f'where(x = 2)= {fx_at_2}')

where(x = 2)= 6

In [ ]:
x= -1
fx_at_minus1 = x**2 + 3*x - 4
print(f'where(x = -1)= {fx_at_minus1}')

where(x = -1)= -6

In [ ]:
x= 1
fx_at_1 = x**2 + 3*x - 4
print(f'where(x = -1)= {fx_at_1}')

where(x = -1)= 0

Return the boolean for each value of  ùë•  to find out whether that value is a root of  ùëì(ùë•)

In [ ]:
fx_at_2==0

False

In [ ]:
fx_at_minus1==0

False

In [ ]:
fx_at_1==0

True

Problem 3

A bag contains 45 apples, 65 oranges and 30 bananas. Find the percentage of each type of food items in the bag.

In [ ]:
apples = 45
oranges = 65
bananas = 30

In [ ]:
# apple perecentage
total = apples+oranges+bananas
percentage_apples = apples/total*100
percentage_apples

32.142857142857146

In [ ]:
# Oranges percentage
percentage_orange = oranges/total*100
percentage_orange

46.42857142857143

In [ ]:
# bananas percentage
percentage_banana = bananas/total*100
percentage_banana

21.428571428571427

Problem 4

You were playing a fun guessing game during your school break. There were a total of 100 participants excluding you. Out of these 100 people, 30 were Maths Majors, 45 were Economics Majors and 25 were Physics Majors.

The game was divided into three rounds.

In the first round, you had to guess the number of Maths Majors and you correctly guessed 20 of them.

In the second round, you had to guess the number of Economics Majors and you correctly guessed 30 of them.

In the final third round, you had to guess the number of Physics Majors and you correctly guessed 20 of them.

Accuracy is defined as the number of correct guesses upon total number of people in the group (expressed in percentage)

In [ ]:
maths_major = 30
economics_major = 45
physics_major = 25
guessed_maths_major = 20
guessed_economics_major = 30
guessed_physics_major = 20

majors = maths_major+economics_major+physics_major
correct_guesses = guessed_maths_major+guessed_economics_major+guessed_physics_major

In [ ]:
# maths accuracy
maths_accuracy = guessed_maths_major/maths_major*100
maths_accuracy

66.66666666666666

In [ ]:
# physics accuracy
physics_accuracy = guessed_physics_major/physics_major*100
physics_accuracy

80.0

In [ ]:
# Economics accuracy
economics_accuracy = guessed_economics_major/economics_major*100
economics_accuracy

66.66666666666666

In [ ]:
Total_accuracy = correct_guesses/majors*100
Total_accuracy

70.0

#Tuples, Sets and Dictionaries.

Another measure of average

Mode is defined as the value that appears most often in a set of data values. Mode corresponds to the most frequent value.
You are given a list of numbers and you need to calculate the mode of this list

In [ ]:
temperatures = [34, 40, 29, 33, 42, 40, 39, 34, 34,33 ]

In [ ]:
unique_temp = list(set(temperatures))

In [ ]:
temp_dict = {}

key = unique_temp[0]
temp_dict[key] = temperatures.count(key)

key = unique_temp[1]
temp_dict[key] = temperatures.count(key)

key = unique_temp[2]
temp_dict[key] = temperatures.count(key)

key = unique_temp[3]
temp_dict[key] = temperatures.count(key)

key = unique_temp[4]
temp_dict[key] = temperatures.count(key)

key = unique_temp[5]
temp_dict[key] = temperatures.count(key)

In [ ]:
temp_dict

{33: 2, 34: 3, 39: 1, 40: 2, 42: 1, 29: 1}

In [ ]:
temp_dict_values = list(temp_dict.values())
max_count= max(temp_dict_values)

most_frequent_temp_index = temp_dict_values.index(max_count)

In [ ]:
most_frequent_temp_index

1

In [ ]:
temp_dict_keys = list(temp_dict.keys())

# Print the list of dictionary keys
print(temp_dict_keys)

# Calculate the mode temperature
mode_temp =  temp_dict_keys[most_frequent_temp_index]
print(f'The mode of the temperatures is {mode_temp}')

[33, 34, 39, 40, 42, 29]
The mode of the temperatures is 34

You are given a list of tuples. You need to replace the last element of the last tuple

Expected output : Replace the last element 70 with 100

output_list = [(10,20,30),(30,40,50),(50,60,100)]

In [1]:
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]
a=list_of_tuples[::-1]
a.append((50,60,100))
print(a)
list_of_tuples = [(10,20,30),(30,40,50),(50,60,70)]
list_of_tuples[-1]= (50,60,100)
print(list_of_tuples)

[(50, 60, 70), (30, 40, 50), (10, 20, 30), (50, 60, 100)]
[(10, 20, 30), (30, 40, 50), (50, 60, 100)]

Natural Language Processing or NLP is one of the most promising fields in Machine Learning. Most of the times in NLP we deal with the textual data (a bunch of strings). Sometimes when we are processing the text, it is a common practice to get rid of some set of stop words from our original text. By default stop words are very common words used in English language such as and, or, punctuations etc.

In this exercise, you are provided with a default set of stop words and you need to add some extra set of custom words.

In [2]:
# Default set of stop words
stop_words = {"i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself",
              "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself",
              "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
              "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had",
              "having", "do", "does", "did", "doing", "a", "an", "the", "and", "but", "if", "or", "because",
              "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into",
              "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out",
              "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where",
              "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no",
              "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s", "t", "can", "will", "just",
              "don", "should", "now"}

In [3]:
sentence = 'Hello, good morning folks! Today we will announce the half yearly performance results of the company. Due to the ongoing COVID-19 pandemic, our profits have declined by 60% as compared to the last half yearly results'
custom_stop_words = set(["hello","good","morning","half","yearly"])

stop_words.update(custom_stop_words)

print('hello' in stop_words)
print(stop_words)

stop_words.intersection(custom_stop_words)

print('hello' in stop_words)
print(stop_words)

True
{'do', 'other', 'some', 'was', 'too', 'with', 'further', 'his', 'have', 'more', 'when', 'any', 'which', 'few', 'hello', 'theirs', 'a', 'them', 'than', 'myself', 'be', 'itself', 'being', 'those', 'having', 'very', 'once', 'ours', 'can', 'below', 'your', 'while', 'what', 'herself', 'on', 'nor', 'such', 'is', 'him', 'yours', 'to', 'has', 'does', 'here', 'had', 'then', 'by', 'yearly', 'been', 'through', 'just', 'against', 'off', 'over', 'each', 'why', 'will', 'same', 'you', 'he', 'yourself', 'my', 'at', 'where', 'and', 'should', 'their', 'all', 'both', 'me', 'we', 'these', 'themselves', 'the', 'half', 'who', 'of', 'up', 's', 'our', 'as', 'under', 'between', 'were', 'am', 'they', 'down', 'now', 'are', 'ourselves', 'her', 'or', 'yourselves', 'during', 'out', 'for', 'whom', 'this', 'it', 'its', 'did', 't', 'again', 'in', 'most', 'into', 'good', 'own', 'she', 'no', 'an', 'how', 'but', 'if', 'about', 'above', 'i', 'until', 'before', 'that', 'not', 'there', 'himself', 'don', 'so', 'morning', 'doing', 'only', 'because', 'after', 'from', 'hers'}
True
{'do', 'other', 'some', 'was', 'too', 'with', 'further', 'his', 'have', 'more', 'when', 'any', 'which', 'few', 'hello', 'theirs', 'a', 'them', 'than', 'myself', 'be', 'itself', 'being', 'those', 'having', 'very', 'once', 'ours', 'can', 'below', 'your', 'while', 'what', 'herself', 'on', 'nor', 'such', 'is', 'him', 'yours', 'to', 'has', 'does', 'here', 'had', 'then', 'by', 'yearly', 'been', 'through', 'just', 'against', 'off', 'over', 'each', 'why', 'will', 'same', 'you', 'he', 'yourself', 'my', 'at', 'where', 'and', 'should', 'their', 'all', 'both', 'me', 'we', 'these', 'themselves', 'the', 'half', 'who', 'of', 'up', 's', 'our', 'as', 'under', 'between', 'were', 'am', 'they', 'down', 'now', 'are', 'ourselves', 'her', 'or', 'yourselves', 'during', 'out', 'for', 'whom', 'this', 'it', 'its', 'did', 't', 'again', 'in', 'most', 'into', 'good', 'own', 'she', 'no', 'an', 'how', 'but', 'if', 'about', 'above', 'i', 'until', 'before', 'that', 'not', 'there', 'himself', 'don', 'so', 'morning', 'doing', 'only', 'because', 'after', 'from', 'hers'}